<div class="container">
    <h2 class="text-center">State of Wing Points Information</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Language</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stateOfWingPoint of stateOfWingPoints">
                <td>{{ stateOfWingPoint.id }}</td>
                <td>{{ stateOfWingPoint.code }}</td>
                <td>{{ stateOfWingPoint.language }}</td>
                <td>{{ stateOfWingPoint.description }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="return()" class="btn btn-info">Return</button>
</div>
