<div class="container mt-5">
    <h2>Attributes</h2>
    <p>Welcome to the Attributes page. Click on the links below to navigate:</p>
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfCoordinates']" class="link-primary">Accuracy of Coordinates</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfDate']" class="link-primary">Accuracy of Date</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfPullusAge']" class="link-primary">Accuracy of Pullus Age</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/age']" class="link-primary">Age</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/alula']" class="link-primary">Alula</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/billMethod']" class="link-primary">Bill methods</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/birds']" class="link-primary">Bird species</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/broodPatch']" class="link-primary">Brood patch</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/broodSize']" class="link-primary">Brood size</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/carpalCovert']" class="link-primary">Carpal covert</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/catchingLures']" class="link-primary">Catching lures</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/catchingMethods']" class="link-primary">Catching methods</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/circumstancesPresumed']" class="link-primary">Circumstances Presumed</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/circumstances']" class="link-primary">Circumstances</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/euring_code_identifier']" class="link-primary">EURING code Identifiers</a> //TODO only ADMIN can see this...
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/fatScore']" class="link-primary">Fat Score</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/manipulated']" class="link-primary">Manipulated</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/metalRingInformation']" class="link-primary">Metal Ring Information</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/moult']" class="link-primary">Moult</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/movedBeforeTheEncounter']" class="link-primary">Moved before the Encounter</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/otherMarksInformation']" class="link-primary">Other marks information</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/pectoralMuscleScore']" class="link-primary">Pectoral Muscle Score</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/plumageCode']" class="link-primary">Plumage Code</a>
      </li>
    </ul>

    <button type="button" (click)="return()" class="btn btn-primary">Return</button>
  </div>
