<div class="container mt-5">
    <h2>{{ "attributes.title" | translate}}</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfCoordinates']" class="link-primary">{{ "attributes.accuracy_of_coordinates" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfDate']" class="link-primary">{{ "attributes.accuracy_od_date" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfPullusAge']" class="link-primary">{{ "attributes.accuracy_of_pullus_age" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/age']" class="link-primary">{{ "attributes.age" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/alula']" class="link-primary">{{ "attributes.alula" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/billMethod']" class="link-primary">{{ "attributes.bill_methods" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/birds']" class="link-primary">{{ "attributes.bird_species" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/broodPatch']" class="link-primary">{{ "attributes.brood_patch" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/broodSize']" class="link-primary">{{ "attributes.brood_size" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/carpalCovert']" class="link-primary">{{ "attributes.carpal_covert" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/catchingLures']" class="link-primary">{{ "attributes.catching_lures" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/catchingMethods']" class="link-primary">{{ "attributes.catching_methods" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/circumstancesPresumed']" class="link-primary">{{ "attributes.circumstances_presumed" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/circumstances']" class="link-primary">{{ "attributes.circumstances" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/condition']" class="link-primary">{{ "attributes.condition" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/euring_code_identifier']" class="link-primary">{{ "attributes.euring_code_identifier" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/fatScore']" class="link-primary">{{ "attributes.fat_score" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/manipulated']" class="link-primary">{{ "attributes.manipulated" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/metalRingInformation']" class="link-primary">{{ "attributes.metal_ring_information" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/moult']" class="link-primary">{{ "attributes.moult" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/movedBeforeTheEncounter']" class="link-primary">{{ "attributes.moved_before_the_encounter" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/otherMarksInformation']" class="link-primary">{{ "attributes.other_marks_information" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/pectoralMuscleScore']" class="link-primary">{{ "attributes.pectoral_muscle_score" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/plumageCode']" class="link-primary">{{ "attributes.plumage_code" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/primaryIdentificationMethod']" class="link-primary">{{ "attributes.primary_identification_method" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/primaryMoult']" class="link-primary">{{ "attributes.primary_moult" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/pullusAge']" class="link-primary">{{ "attributes.pullus_age" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/ringingScheme']" class="link-primary">{{ "attributes.ringing_scheme" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/sex']" class="link-primary">{{ "attributes.sex" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/sexingMethod']" class="link-primary">{{ "attributes.sexing_method" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/stateOfWingPoint']" class="link-primary">{{ "attributes.state_of_wing_point" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/status']" class="link-primary">{{ "attributes.status" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/tarsusMethod']" class="link-primary">{{ "attributes.tarsus_method" | translate}}</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/verificationOfTheMetalRing']" class="link-primary">{{ "attributes.verification_of_the_metal_ring" | translate}}</a>
      </li>
    </ul>

    <button type="button" (click)="return()" class="btn btn-primary">{{ "attributes.return" | translate}}</button>
  </div>
