<div class="container mt-5">
    <h2>Attributes</h2>
    <p>Welcome to the Attributes page. Click on the links below to navigate:</p>
    <ul class="list-group">
      <li class="list-group-item">
        <a [routerLink]="['/accuracyOfCoordinates']" class="link-primary">Accuracy of Coordinates</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/another-page']" class="link-primary">Another Page</a>
      </li>
      <li class="list-group-item">
        <a [routerLink]="['/yet-another-page']" class="link-primary">Yet Another Page</a>
      </li>
      <!-- Add more links as needed -->
    </ul>
  </div>
  