
<div class="container">
    <h2 class="text-center">Place Details</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Location name</th>
                <th>latitude</th>
                <th>Longitude</th>
                <th>Precision</th>
            </tr>
        </thead>
        <tbody>
                <td> {{ place.name }} </td>
                <td> {{ place.latitude}} </td>
                <td> {{ place.longitude}}</td>
                <td> {{ place.precision}}</td>
        </tbody>
    </table>

    <div class="map-container">
        <div id="map"></div>
    </div>
    <script type="module" src="./main.js"></script>

    <button (click)="return()" class="btn btn-info">Return</button>
</div>