body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.navbar-dark-mode {
  background-color: #2874a6; /* Bootstrap's primary blue */
  color: white;
}

.navbar {
  background-color: #2874a6; /* Blue color for the navbar */
  color: #ffffff;
}

.nav-item.nav-link.custom-link {
  color: white !important; /* Keep links white */
}
