<header>
    <div class="container">
        <a routerLink="/" class="logo">Larus</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/birds"  class="birds">
                        Birds List
                    </a>
                </li>
                <!-- <li>
                    <a routerLink="#" class="logo">Concert Finder</a>
                </li> -->
                <!-- <li *ngIf="!isAuth" class="menu-container">
                    <a routerLink="/dashboard" class="logo">USER</a>
                     <div class="menu">
                        <a routerLink="/profile" class="logo">Profile</a>
                        <a routerLink="/orders" class="logo">Orders</a>
                        <a>Logout</a>
                    </div> 
                </li> -->
                <li>
                    <a  class="logout">Logout</a>
                </li>
                <!-- <li *ngIf="!isAuth">
                    <a routerLink="/login" class="login">Login</a>
                </li> -->
                <!-- <li>
                    <a routerLink="/cart-page">Cart</a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>