<div class="container">
  <div class="text-center">
    <h3>{{ 'home.title' | translate}}</h3>
    
    <div class="mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="card-container" (click)="rotateImage()">
            <div class="card">
              <div class="card-front">
                <img [src]="imageSrc" alt="Home page image" class="img-fluid rounded border border-primary shadow-sm">
              </div>
              <div class="card-back">
                <h4>{{ 'home.title-card' | translate}}</h4>
                <p>
                  {{ 'home.card-description' | translate}}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <a href="/ringCode" class="btn btn-primary mb-2">{{ 'home.ring-archive' | translate}}</a>

              <button class="btn btn-primary mb-2" (click)="toggleButtonGroup()">{{ 'home.ring_found' | translate}}</button>

              <div *ngIf="isExtended" class="d-flex mb-2">
                <a href="/ringedBird" class="btn btn-secondary w-50 me-1">{{ 'home.ring_new' | translate}}</a>
                <a href="/ringedBirdExisting" class="btn btn-secondary w-50 ms-1">{{ 'home.ring_finding' | translate}}</a>
              </div>

              <a href="/statistics" class="btn btn-primary mb-2">{{ 'home.statistics' | translate}}</a>
              <a href="/place" class="btn btn-primary mb-2">{{ 'home.locations' | translate}}</a>
              
              <button class="btn btn-primary mb-2" (click)="toggleImportExport()">{{ 'home.import_export' | translate}}</button>

              <div *ngIf="isImportExportExtended" class="d-flex mb-2">
                <a href="/upload" class="btn btn-secondary w-50 me-1">{{ 'home.import' | translate}}</a>
                <a href="/generate" class="btn btn-secondary w-50 ms-1">{{ 'home.export' | translate}}</a>
              </div>

              <a href="/attributes" class="btn btn-primary mb-2">{{ 'home.attributes' | translate}}</a>
              <a href="/ringedBirdSearch" class="btn btn-primary mb-2">{{ 'home.specific' | translate}}</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>