
<div class="container">
    <h2 class="text-center">{{ "birds.title_details" | translate}}</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>{{ "birds.common_name" | translate}}</th>
                <th>{{ "birds.scientific_name" | translate}}</th>
                <th>{{ "birds.aerc" | translate}}</th>
                <th>{{ "birds.status" | translate}}</th>
                <th>{{ "birds.season" | translate}}</th>
            </tr>
        </thead>
        <tbody>
                <td> {{ bird.commonName }} </td>
                <td> {{ bird.scientificName}} </td>
                <td> {{ bird.aerc}}</td>
                <td> {{ bird.status}}</td>
                <td> {{ bird.season}}</td>
        </tbody>
    </table>

    <button (click)="return()" class="btn btn-info">Return</button>
</div>