<div class="container">
    <h2 class="text-center">Verification Of The Metal Rings</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Language</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ring of verificationOfTheMetalRings">
                <td>{{ ring.id }}</td>
                <td>{{ ring.code }}</td>
                <td>{{ ring.language }}</td>
                <td>{{ ring.description }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="return()" class="btn btn-info">Return</button>
</div>
