<div class="container">
    <h2 class="text-center">Place List</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location name</th>
                <th>latitude</th>
                <th>Longitude</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let place of places">
                <td> {{ place.id }} </td>
                <td> {{ place.name }} </td>
                <td> {{ place.latitude}} </td>
                <td> {{ place.longitude}}</td>
                <td>
                    <button (click) = "placeDetails(place.id)" class="btn btn-info">Details</button>
                    <button class="btn btn-danger" (click)="deletePlace(place.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" (click)="addNewPlace()" class="btn btn-info">Add Place</button>
</div>