<div class="container">
    <h2 class="text-center">{{ "places.title" | translate}}</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>{{ "places.id" | translate}}</th>
                <th>{{ "places.name" | translate}}</th>
                <th>{{ "places.latitude" | translate}}</th>
                <th>{{ "places.longitude" | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let place of places" (click)="placeDetails(place.id)" style="cursor: pointer;">
                <td>{{ place.id }}</td>
                <td>{{ place.name }}</td>
                <td>{{ place.latitude }}</td>
                <td>{{ place.longitude }}</td>
                <td>
                    <button class="btn btn-danger" (click)="deletePlace(place.id); $event.stopPropagation()">{{ "places.delete" | translate}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" (click)="addNewPlace()" class="btn btn-info">{{ "places.add" | translate}}</button>
</div>
