<div class="container mt-5">
    <h2>Metal Ring Information</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Language</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of metalRingInformations">
          <td>{{ info.id }}</td>
          <td>{{ info.code }}</td>
          <td>{{ info.language }}</td>
          <td>{{ info.description }}</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="goBack()">Back to Attributes</button>
  </div>
  